@import url('https://fonts.googleapis.com/css?family=Arvo&display=swap');

body{
    margin:0;
    padding: 0;
    font-family: 'Arvo', serif;
}
header{
    width:100%;
    background: yellow;
    height: 200px;
    text-align: center;
}

ul.portfolio-item{
    margin:0 auto;
    width:1000px;
    padding:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

ul.portfolio-item li{
    width:100%;
    border-radius:2px;
    border: 1px #ccc solid;
    background:#fff;
    margin: 70px 0;
    height: 300px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

ul.portfolio-item li img{
    position: absolute;
    width:100%;
}

ul.portfolio-item li h2{
    position: relative;
    color: #ccc;
} 

ul.portfolio-item li ul.technologies{
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius:2px;
    margin: 5px 10px;
    padding:0;
    list-style: none;
}


ul.portfolio-item li ul.technologies li{
    width:auto;
    height: auto;
    text-align: center;
    border-radius:2px;
    background:yellowgreen;
    margin: 5px 10px;
    list-style: none;
}




section.project-desc{
    width:100%;
    background: #fff;
    padding:80px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height:300px;
}
section.project-desc:nth-child(2n+1){
    background: #ffcccc;
}

section.project-desc div.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 40px;
}



section.project-desc.full-col{
    flex-direction: column;
}
section.project-desc.left-col{
    flex-direction: row;
}
section.project-desc.right-col{
    flex-direction: row-reverse;
}



section.project-desc.right-col div.text, section.project-desc.left-col div.text{
    max-width:50%;
}
section.project-desc.full-col div.text{
    margin-bottom:60px;
}


section.project-desc div.text p{
    text-align: center;
}